@charset "UTF-8";


$user:'lisi';
/*#{$user}*/
$xze:div20;
.#{$xze}{
  color: #00A862;
}

$color:#ff0;
$name:width;
/*.div{
  color:$color
}*/
.div2{
  background:{
    color:#ff0;
    //repeat:no-repeat;
    image:url("../../fuxi/ruangong/img/a1.jpg");
  }
  border:{
    left:{
      color:#ff0;
      #{$name}:2px;
    }
  }
  .box{
    color: #00A862;
    &:hover{
      width: 500px;
    }
  }
}


@mixin mx($w,$h:300px){
  width:$w;
  height: $h;
}
.div5{
  @include mx(100px);
}
.div6{
  @include mx(200px,200px);
}

@import "base";

.div7{
  @extend .div2;
  color: #00A862;
}

.div9{
  width: 200 - 100px;
}

.div10{
  height: 100px + 100px;
}

.div11{
  height: 100px * 10;
}
.div12{
  width: (100px) / 2;
}


$num:'../../fuxi/ruangong/img/a1';
.div13{
  background-image: url($num +'.jpg' );
}

.div14{
  color: lighten(rgb(0,0,255),20%);
}

.div15{
  color: darken(rgb(0,0,255),20%);
}

.div16{
  color: opacify(rgba(0,0,0,0.8),0.1);
}
.div17{
  color: transparentize(rgba(0,0,0,0.8),0.3);
}


$m:(light:#000,dark:#fff);

.div18{
  color: map-get($m,light);
}

@function foo($key){
  @if($key == 1){
    @return red;
  }@else {
    /*@warn "没有参数";*/
    /*@error "没有参数"*/
    @return blue;
  }
}
.div19{
  color: foo("1");
}


@for $var from 1 to 5{   //不包括5
  .div-contetn-#{$var}{
    width: $var+px;
  }
}


@for $var from 1 through 5{   //包括5
  .div-con-#{$var}{
    width: $var+px;
  }
}


$lista: a b c d;
@each $var in $lista{
  .div-#{$var}{
    background:black;
  }
}
$i:0;
@while($i<10){
  .div-footer-#{$i}{
    background: #00A862;
  }
  $i:$i+1
}