*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
.right{
    float: left;
    width: 70%;
    height: 1500px;
    /*background: #7A45E5;*/
    margin-left: 30%;
}
.left{
    float: left;
    width: 30%;
    height: 100%;
    position: fixed;
    left: 0%;
}
.header{
    height: 48px;
    padding: 24px;
}
#accont-entry{
    height: 563px;
    width: 100%;
    /*background: #999999;*/
}
li{
    list-style: none;
}
.header ul{
    float: left;
    font-size: 1.1rem;
    font-weight: 700;
    /*margin: 0 10px 0 10px;*/
    width: 75%;
}
.header ul li{
    float: left;
    padding: 5px 10px;
}
.header .img-one{
    width: 36px;
    height: 36px;
    float: left;
}
.header .logo .img-two{
    margin-top: 6px;
    position: absolute;
    right: 25px;
    top: 23px;
}
.display-1{
    margin-bottom: 24px;
}
.display-1 span{
    font-weight: 700;
    font-size: 1.6rem;
}
.date-reactroot{
    height: 135px;
    width: 66%;
    position: absolute;
    top: 310px;
    left: 28%;
}
.display-2 img{
    float: left;
    margin: -3px 4px 0 0;
}
.display-2 span{
    color: #00A862;
}
.display-2 .login-1{
    margin-right: 24px;
    float: left;
}
.display-2 .login-2{
    border: 1px solid #00A862;
    padding: 2px 12px;
    height:27px ;
    width: 34.81px;
    border-radius: 48px;
    position: absolute;
    left: 90px;
    bottom: 12px;
    line-height: 27px;
    text-align: center;
}
.middle{
    float: left;
    width: 30%;
    height: 160%;
    position: fixed;
    left: 0px;
    display: none;
}
.header-1{
    height: 36px;
    padding: 16px;
}
#logo-2 button{
    width: 48px;
    height: 48px;
    padding: 6px 0;
    border: 0;
    background: transparent;
    font-size: 32px;
    opacity: 0.8;
    position: absolute;
    right: 25px;
    top: 20px;
}
.middle .img-one{
    width: 36px;
    height: 36px;
    float: left;
}
.middle-mid ul li a{
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    display: block;
    height: 21px;
    padding: 8px 0;
}
.middle-mid ul li{
    width: 100%;
}
.middle-mid ul li hr{
    margin: 12px 0;
    opacity: 0.8;
}
.middle-mid{
    padding: 0px 24px 0px 84px;
}
.sign-in-in img,.login-1-1{
    margin-top: 3px;
}
.login-2-1{
    border: 1px solid #00A862;
    padding: 2px 12px;
    height:27px ;
    width: 34.81px;
    border-radius: 48px;
    line-height: 27px;
    text-align: center;
    position: absolute;
    top:503px;
    margin-left: 90px
}
.middle-last a{
    color: #999999;
    font-size: 14px;
}
.middle-last{
    height: 600px;
}
.container{
    margin: 100px 24px 24px 84px;
    padding-right: 60px;
}
@media (min-width: 1024px) {
    .middle{
        overflow-y: scroll;
    }
}
@media (max-width: 1024px ) {
    .middle{
        width: 100%;
        position: fixed;
    }
    .right-r{
        display: none;
    }
    .display-2 .login-2-1{
        position: absolute;
        left: 90px;
        top: 506px;
    }
}





@media (max-width: 1024px) {
    .left{
        height: 183px;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .right{
        width: 100%;
        margin-left: 0px;
        margin-top: 183px;
    }
    .header{
        padding: 16px;
    }
    .header .logo .img-two{
        margin-top: 6px;
        position: absolute;
        right: 25px;
        top: 15px;
    }
    .date-reactroot{
        width: 100%;
        height: 103px;
        position: absolute;
        top: 80px;
        left: 0%;
        padding: 0 16px;
    }
    .display-1{
        margin-bottom: 16px;
    }
    .sign-in img,.login-1{
        padding: 3px 0;
    }
    .login-2{
        margin-bottom: 8px;
        margin-left: 24px;
    }
}
.action{
    display: block;
    transition: transform 1s ease;
}
.active{
    animation: test 0.15s ease;
}
@keyframes test{
    0%{
        transform: scale(1.0);
        opacity: 0;
    }
    50%{
        transform: scale(1.2);
        opacity: 0.5;
    }
    100%{
        transform: scale(1.0);
        opacity: 1;
    }
}
.active-ac{
    animation: testt 0.5s ease;
}
@keyframes testt{
    0%{
        transform: scale(1.0);
        opacity: 1;
    }
    50%{
        transform: scale(1.2);
        opacity: 0.5;
    }
    100%{
        transform: scale(1.0);
        opacity: 0;
    }
}
