* {
    padding: 0px;
    margin: 0px;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
    .wrapper{
        width: 1230px;
        margin: 0 auto;
    }
    /*nav开始*/
    .nav{
        height: 33px;
        background: #f2f2f2;
        border-bottom: 1px solid #e5e5e5;
    }
    .nav-box {
        height: 32px;
        line-height: 32px;
        font-size: 12px;
    }
    .nav-login a{
        padding: 0px 10px 0px 10px;
        color: #999;
    }
    .nav-login a:hover {
        color: #ff0036;
    }
    .nav-menu a:hover{
         color: #ff0036;
     }
    .nav-login .login-btn{
        padding-left: 20px;
    }
    .nav-login{
        float: left;
    }
    .nav-login a .nav-login span{
        float: left;
    }
    .nav-menu{
        float: right;
    }
    .nav-menu>li{
        float: left;
    }
    .nav-link{
        padding: 0px 16px 0px 10px;
        color:#999999;
    }
    .aa{
        display: block;
    }
    .sn-menu{
        position: relative;
    }
    .sn-menu:hover{
        background: #fff;
        height: 34px;
    }
    .sn-menu a:hover{
        text-decoration: underline;
    }
    .dh a:hover{
        text-decoration: none;
    }
    .sn-menu:hover::after{
        transform: rotate(180deg);
    }
    .sn-menu::after {
        content:" ";
        width: 0px;
        height: 0px;
        border-width: 3px;
        border-style: solid;
        border-color: #999 transparent transparent transparent;
        position:  absolute;
        right: 6px;
        top: 16px;
        transition: all 0.2s linear;
        transform-origin: 3px 1.5px;
    }
    .bu{
        width: 1px;
        height: 14px;
        position: relative;
        top:6px;
        color: #999999;
        border-left: 1px solid #ccc;
        float: left;
    }
    .bui{
        top: 8px;
        margin-left: 3px;
    }
    .sub-sn-menu{
        background: #fff;
        width: 85px;
        border: 1px solid #e5e5e5;
        border-top: none;
        padding: 14px 10px;
        position:absolute;
        left: -1px;
        top:34px;
        /*display: none;*/
    }
    .sub-sn-menu-yi{
        width: 74px;
    }
    .sub-sn-menu-er{
        width: 130px;
        position:absolute;
        left: -77px;
        top:34px;
        padding: 5px 10px;
    }
    .sub-sn-menu-san{
        width: 130px;
        position:absolute;
        left: -77px;
        top:144px;
        padding: 5px 10px;
    }
    .sub-sn-menu-er .sub-menu-item{
        width: 60px;
        height: 16px;
        float: left;
    }.d1,.d2,.d3,.d5{
         float: left;
     }
.d1{
    color:#333;
    padding:0 7px;
    line-height:18px;
}
.d4{
    color:#333;
    padding:0 7px;
    line-height:29px;
}
.d3{
    color:#999;
    line-height:1px;
}
.d5{
    color:#999;
    line-height:0px;
}
    .sn-menu:hover .sub-sn-menu{
        display: block;
    }
    .sub-menu-item{
        height: 18px;
        line-height: 18px;
    }
    .sub-menu-item a{
        color: #999;
    }
    .nav-icon{
        color: red;
        font-size: 14px;
    }
