    .logo{
        width: 240px;
        height: 130px;
        float: left;
    }
    .search-box{
        float: left;
        margin:38px 0px 0px 121px;
    }
    .search{
        width: 625px;
        height: 36px;
        border: 2px solid #ff0036;
    }
    .search-text{
          width: 491px;
          height: 36px;
          border: none;
          outline: none;
          float: left;
      }
    .search-btn{
        width: 134px;
        height: 36px;
        border: none;
        background: #ff0036;
        float: left;
        font-size: 18px;
        color: #fff;
    }
    .search-xial a{
        float: left;
        padding: 2px 12px;
        color: #999999;
    }
    .search-xialaq a{
        color: #ff0036;
    }