*{
  margin: 0px;
  padding: 0px;
}
.card{
  margin-left: 10%;
}
.card-group{
  position: absolute;
  right: 5%;
  top: 20%;
  width: 65%;
}
.card-body .my-sm-0{
  margin-left: 55%;
}
.navbar{
  background-color: black;
  color: white;
  font-weight: bolder;
}